.container {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
  
  



}

.detalle {
  display: flex;
  flex-direction: column;
  



}

.imagenDeDetalle {
  display: flex;
  align-items: center;
  padding: 2rem;
  width: 60%;


}

.descripcion {
  display: flex;
  gap: 5px;
  margin-top: 0.5rem;

}